* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Asegura que el padding y el border se incluyan en el tamaño total del elemento */
}

@font-face {
  font-family: 'Retrograde';
  src: url('../public/Retrograde.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ROOT se encarga del diseño en todo el archivo */
:root {
  background-color: white;
  font-family: 'Retrograde', 'Times New Roman', Times, serif;
  color: rgb(47, 47, 47);
  overflow-x: hidden;

  scrollbar-gutter: stable;
}

/* Cuerpo, aquí se centra la app. Como es el cuerpo ya tiene el ancho */
body {
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 100vh;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Todo el contenido dentro de los componentes, se centran los componentes. */
#app {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

/* ---------------------  DARK MODE  --------------------- */
.dark-mode {
  background-color: rgb(8, 8, 8);
  color: rgb(150, 255, 253);
}

.dark-mode .app-header__ancla {
  color: rgb(150, 255, 253);
}

.dark-mode .app-header__changeLetter__select,
.dark-mode .app-header__changeLetter__select option {
  background-color: rgb(8, 8, 8);
  color: rgb(150, 255, 253);
}

.dark-mode .app-header__changeLetter__icon {
  color: rgb(150, 255, 253);
}

.dark-mode .app-header__changeTema {
  background-color: rgb(150, 255, 253);
}

.dark-mode .app-header__light-icon,
.dark-mode .app-header__dark-icon {
  color: rgb(150, 255, 253);
}

.dark-mode .ShowResults__results__item__word__content__world-span{
  color: white;
}

.dark-mode .ShowResults__results__item__word__content__select_world-scund{
  background-color: rgb(8, 8, 8);
  color: rgb(150, 255, 253);
}